.main-bg{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--white-color);
}
.background1{
    background-image: url(../img/pexels-pixabay-38519\ \(1\).jpg);
    /* https://www.pexels.com/pt-br/@olia-danilevich/ */
    background-position-x: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100vw;
}
.background2{
    background-image: url(../img/confetti-doodles.svg);
     /* background by SVGBackgrounds.com */
}
.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}
.white-bg{
    background-color: var(--white-color);
    color: var(--primary-color);
}
.section {
    min-height: calc(100vh - 60px);
}