.main-bg{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--white-color);
}
.background1{
    background-image: url(../Nova-pasta/laptop-g537ab2cb8_1280.jpg);
    background-position-x: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.background2{
    background-image: url(../img/confetti-doodles.svg);
     /* background by SVGBackgrounds.com */
}
.background3 {
    background-color: var(--primary-color);
}
.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}
.white-bg{
    background-color: var(--white-color);
    color: var(--primary-color);
}
.section {
    min-height: calc(100vh - 60px);
    overflow: hidden;
}