@media (max-width: 800px){
    .body-overflow{
        overflow: hidden;
    }
    .over-auto{
        
        overflow: auto;
    }
    .intro-content, .grid{
        grid-template-columns: 1fr;
    }
    .grid.img-media{
        grid-template-columns: 1fr 1fr;
    }
    .grid.gallery-img{
        grid-template-columns: 1fr 1fr;
        width: 100%;
        max-width: auto;
        max-height: auto;
    }
    .gallery-img img {
        width: 100%;
    }
    .menu-mobile{
        height: 100vh;
    }
    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }
    #close-menu {
        position: absolute;
        top: 60px;
        background-color: white;
        width: 80%;
        right: 0;
    }
    .close-menu-label{
        position: fixed;
        z-index: 200;
        top: 1rem;
        right: 1rem;
    }
    .close-menu-label::before{
        content: 'Menu';
        font-weight: 600;
        display: inline;
        position: absolute;
        right: 35px;
        top: 5px;
        font-size: 2rem;
    }
    .invisible-media {
        display: none;
    }
    .visible-media {
        display: block;
    }
    .icon {
        fill: aliceblue;
    }
    .intro-text h2{
        font-size: 7rem;
    }
    .fundo-menu-toggle{
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    z-index: 190;
    background-color: rgba(0, 0, 0, 0.7);
    }
    .modal-img {
        width: 150%;
        height: 150%;
    }
}
@media (max-width: 480px) {
    #contato .grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .background1{
        background-position-x: center;
    }
    .slideText{
        font-size: 3.5rem;
    }
    #setaE{
        left: 0;
    }
    #setaD{
        right: 0;
    }
    .grid.img-media{
        grid-template-columns: 1fr;
    }
    .intro-text h2, h2{
        font-size: 2.5rem;
    }
    .close-menu-label::before{
        display: none;
    }
    #wats::after{
        display: none;
    }
}