.intro-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}
.intro-content-flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.intro-text, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-text h2{
    font-size: 8rem;
    margin-bottom: 5rem;
    line-height: 1;
}
.intro-img img{
    max-width: 100%;
    height: auto;
}
.top3-content{
    max-width: 80rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}
.grid-one-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.grid-one-content h2{
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.grid-one-content > p{
    margin-bottom: 6rem;
}
.grid {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}
.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 7rem;
    padding-bottom: 5rem;
}
.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: 0rem;
    transform: rotate(5deg);
}
.block{
    display: block;
}
.gallery-img{
    position: relative;
    overflow: hidden;
}
.gallery-img img {
    transition: all 300ms ease-in-out;
    max-width: 36rem;
    max-height: 36rem;
}
.gallery-img img:hover {
    transform: translate(-2%, 2%) scale(1.2) rotate(2deg);
}
.contact-form{
    grid-column: span 2;
}
.contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}
.form-grid legend{
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}
.form-group {
    margin: 1rem;
    margin-top: 5rem;
    flex: 1 1 320px;
}
.form-group label{
    margin-bottom: 1rem;
    font-size: 2rem;
    display: block;
}
.form-group input,
.form-group textarea {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    padding: var(--gap);
    font-size: 3rem;
}
div.full-widht{
    width: 100%;
    flex: 1 1 100%;
}
.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0px 0px 12px 3px var(--secondary-color);
}
.form-group button{
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.form-group button:hover{
    background: var(--white-color);
    color: var(--primary-color);
}
.form-group ::placeholder{
    color: var(--light-gray-color);
}
.invisible {
    display: none;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left {
    position: fixed;
    left: 20px;
    bottom: 20px;
}
.btn-wats {
    font-size: 2.5em;
    background-color: #21D93D;
    color: #ffffff;
}
.btn-wats:hover {
    background-color: #ffffff;
    color: #21D93D;
}
#wats::after {
    content: 'Ajuda? Clique!';
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.2em;
    padding: 0.3em;
    background-color: #f5f0f0;
    border: 2px solid rgba(0, 0, 0, 0.507);
}
.h2-menor{
    font-weight: 400;
    font-size: 1.1em;
    margin: 20px 0;
}
.slideText {
    font-size: 2.5em;
    overflow: hidden;
    animation-duration: 4s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}
#slideText1{
    letter-spacing: .15em;
}
.inline-block{
display: inline-block;
}
.position-relative{
    position: relative;
}
.pos-absolute {
    position: absolute;
}
.flex > div::after{
    content: '\2758';
    position: absolute;
    bottom: -0.1em;
    font-size: 3.5em;
}
@keyframes slidein {  
    0% {
        width: 0%; 
    }
    5%{
        width: 0%; 
    } 
    30%{
        width: 100%;
    } 
    70%{
        width: 100%;
    }
    95%{
        width: 0%;
    }
    100% {
        width: 0%;
    }
}
.seta{
    border: 2px solid white;
    cursor: pointer;
    position: absolute;
    top: 45%;
    background-color: black;
    color: white;
    padding: 2%;
    font-weight: 600;
    font-size: 2rem;
}
#setaE{
    left: 10px;
}
#setaD{
    right: 10px;
}
.exit{
    cursor: pointer;
    background-color: #24292F;
    border: 2px solid white;
    font-weight: 900;
    padding: 0px 6px;
    color: red;
    font-size: 1.4rem;
    position: absolute;
    top: 10px;
    right: 20px;
}
.modal {
    height: 100%;
    width: 100%;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
}
.modal-ver{
    top: 40%;
    left: 40%;
    background-color:#24292fcc;
    color: white;
    padding: 2% 4%;
    z-index: 20;
    font-size: 2rem;
}
.modal-ver-op{
    opacity: 1;
}
.over-auto{
    overflow: auto;
}
.modal-inactive {
    visibility: hidden;
}
.modal-active { 
    visibility: visible;
}
.fundo {
    padding: 4px 4px 0px 5px;
    background-color: rgba(49, 48, 48);
    height: 100%;
    width: 100%;
    z-index: 10;
}
.back-to-top{
    z-index: 100;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--white-color);
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-content: center;
    border: 2px solid rgba(0, 0, 0, 0.507);
    background-color: rgba(216, 210, 210, 0.87);
    border-radius: 50%;
    color: var(--primary-color);
}
.modal-fim {
    background-color: rgb(216 210 210 / 90%);
    color: #24292f73;
}
i {
    background-color: white;
    font-size: 2em;
    margin: 0.1em;
    padding: 0.3em;
    border-radius: 50%;
}
.fa-instagram-square{ 
    color: #f81515;
}
.fa-instagram-square:hover{ 
    color: rgb(255, 255, 255);
    background-color: #f81515;
}
.fa-facebook {
    color: #3e3ef0;
}
.fa-facebook:hover {
    color: rgb(255, 255, 255);
    background-color:#3e3ef0;
}
.fa-linkedin {
    color:#0A66C2;
}
.fa-linkedin:hover {
    color:#ffffff;
    background-color: #0A66C2;
}
.fa-github-square {
    color: #24292F;
}
.fa-github-square:hover {
    color: #ffffff;
    background-color: #24292F;
}